body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-color: RGBA(0, 173, 255, 0.11);
}

h1 {
  font-family: 'Mountains of Christmas', cursive;
  color: grey;
}

.image {
  max-width: 250px;
  max-height: 150px;
  margin: 0 0 20px 0;
}

.js-display {
  display: none;
}
